<ion-content color="dark">
    <div class="positionExit">
        <ion-button shape="round" class="botonSalir" [routerLink]="['/home']">Salir</ion-button>
    </div>
    <div class="marginCuadro">
        <ion-label class="marginMesa" position="stacked">Mesa:</ion-label>
        <ion-input class="font" placeholder="Número de mesa"></ion-input>
        <ion-input class="font" placeholder="Nombre mesero"></ion-input>
    </div>
    <div>

    </div>
</ion-content>
<ion-footer color="dark">
    <img class="fuego" src="/assets/Fuego.jpg">
</ion-footer>