.positionExit {
    text-align-last: right;
}

.botonSalir {
    height: 4vh;
    width: 17vw;
    margin-right: 3vw;
    margin-top: 3%;
}

.marginMesa {
    margin-left: -7%;
    font-size: x-large;
}

.marginCuadro {
    margin-left: 12%;
}

.font {
    background-color: white;
    color: black;
    width: 75vw;
    margin-block-start: 10%;
}

.fuego {
    width: 100vw;
    height: 20vh;
    border: 0;
    width: 100%;
}