<ion-card-header height="100vh" color="orange">
    Ya esta lista la orden
</ion-card-header>
<ion-content color="dark">
    <div class="secondPage">
        <button routerLink="/Numero de mesa" ion-button class="buttonMesa">mesa</button>
    </div>
    <div class="secondPage">
        <button routerLink="/salida" ion-button class="buttonSalida">salida</button>
    </div>
    <div class="secondPage">
        <button routerLink="/Número de mesa" ion-button class="buttonNúmerodeMesa">Número de Mesa</button>
    </div>
    <div class="secondPage">
        <button routerLink="/Número de mesa" ion-button class="buttonNombredemesero">Nombre de Mesero</button>
    </div>
    <ion-footer height="100vh" color="dark" class="menu">
        <img src="/assets/menu.jpg">
    </ion-footer>
</ion-content>
<ion-footer height="100vh" color="dark" class="fire">
    <img src="/assets/Fuego.jpg">
</ion-footer>
<ion-footer height="100vh" color="dark" class="menu">
    <img src="/assets/menu.jpg">
</ion-footer>