.positionExit {}

.botonSalir {
    height: 4vh;
    width: 17vw;
    margin-left: 59vw;
    margin-top: 3%;
    color: black;
}

.botonAtras {
    height: 4vh;
    width: 17vw;
    margin-left: 3vw;
    margin-top: 3%;
    color: black;
}

.imagesMenu {
    width: 40vw;
    height: auto;
    margin-left: 48vw;
    margin-top: 4vh;
}