<ion-content color="dark">
    <div class="positionExit">
        <ion-button shape="round" class="botonAtras" [routerLink]="['/mesas']">Atras</ion-button>
        <ion-button shape="round" class="botonSalir" [routerLink]="['/home']">Salir</ion-button>
    </div>

    <!-- <div> -->
    <span>Mar</span>
    <!-- </div> -->
    <!-- <div> -->
    <img class="imagesMenu" src="assets/Menu 1.jpg">
    <!-- </div> -->

</ion-content>
<ion-footer color="dark">
    <img class="fuego" src="/assets/Fuego.jpg">
</ion-footer>