<ion-header>
</ion-header>
<ion-content color="dark">
    <div class="firstPage">
        <button routerLink="/mesas" ion-button class="buttonMesa">Mesas</button>
    </div>
    <div class="firstPage">
        <button routerLink="/cocina" ion-button class="buttonCocina">Cocina</button>
    </div>
    <div class="firstPage">
        <button routerLink="/caja" ion-button class="buttonCaja">Caja</button>
    </div>
</ion-content>
<ion-footer color="dark">
    <img class="fuego" src="/assets/Fuego.jpg">
</ion-footer>